$magin-size: 1em;

/* :host {
background-color: aquamarine;
width: 100%;
} */
.file_container {
  width: 100%;
  margin: 1em;
}

.filter {
  font-size: 14px;
  width: calc(100% - 2em);
}

table {
  width: 100% !important;
}


/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container * {
  margin: 1em;
}
 */

 $type-width: 7%;
 $name-width: 53%;
 $size-width: 20%;
 $date-width: 20%;

.mat-column-type {
  padding-left: 1em;

  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0  $type-width!important;
  width:  $type-width!important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

$name-width: 50%;

.mat-column-name {
  //max-width: 122px;
  padding-left: 1em;

  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 $name-width !important;
  width: $name-width !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-size {
  //max-width: 122px;
  padding-left: 1em;
  padding-left: 1em;

  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 $size-width !important;
  width: $size-width !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-dateModif {
  padding-left: 1em;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 $date-width !important;
  width: $date-width !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

$file-row-hover-color:  grey;
$file-row-highlight-color:  rgb(110, 138, 115);;

.file-row:hover {
  background: $file-row-hover-color;
}

.file-row-pressing {
  background: $file-row-hover-color;
  animation-name: transit;
  animation-duration: 1s;
}

.file-row-highlight {
  background: $file-row-highlight-color;
}

.file-row-highlight:hover {
  background: $file-row-highlight-color;
}

@keyframes transit {
  from {background: $file-row-hover-color}
  to {background: $file-row-highlight-color}
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.file-header-cell {
  font-weight: bold;
  font-size: larger;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.directory {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

.file {
  color: white;
  cursor: pointer;
}
