<div class="container">
    <h3 class="header">Image {{data.fileName}}</h3>
    <div class="imageContainer">
        <img [src]="getHref()" [ngClass]="imgClass" />
    </div>
    <div class="footer">

        <button mat-button (click)="openInNewTab()">In new tab</button>
        <button mat-button (click)="resize()">
            <mat-icon>{{btnResizeIcon}}</mat-icon>
            {{btnResize}}
        </button>
        <button mat-button (click)="download()">
            <mat-icon>archive</mat-icon>
            Download
        </button>
        <button mat-button (click)="previous()">
            <mat-icon>chevron_left</mat-icon>
            Previous
        </button>
        <button mat-button (click)="next()">
            <mat-icon>chevron_right</mat-icon>
            Next
        </button>
        <button mat-button [mat-dialog-close]="true">
            <mat-icon>cancel</mat-icon>
            Close
        </button>
    </div>
</div>