<div mat-dialog-title>New Folder</div>

<div mat-dialog-content>
    <form >
        <mat-form-field  >
          <mat-label>New folder name</mat-label>
          <input matInput #newFileInput placeholder="New folder name" [formControl]="newFileName" type="text" >
          <mat-error *ngIf="newFileName.hasError('required')">
            New folder name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newFileName.hasError('forbiddenChar')">
            Forbiden character
          </mat-error>
        </mat-form-field>
      </form>
  </div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="newFileName.value" [disabled]="newFileName.errors">Ok</button>
</div>